{% extends "base.html" %}
{% load static %}
{% block title %}LAHHGO{% endblock %}
{% block content %}
{% include "navbar.html" %}
<!-- For a more sustainable future -->
<div class="pt-20 ">
    <div class="absolute top-1/4 left-1/2 -translate-x-1/2 -translate-y-1/2 t-10">
        <h1 class="font-plus-jakarta-sans text-[48px] text-center ">About</h1>
        <p class="font-plus-jakarta-sans text-[20px] text-center pt-10 text-[#828282]">Our purpose is to create a
            sustainable future by
            providing eco-friendly products and services that promote environmental stewardship and enhance the
            well-being of our planet. We are committed to reducing our ecological footprint, supporting renewable
            resources, and fostering a culture of sustainability within our community and beyond.</p>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}