<nav
  class="flex fixed z-50 w-screen items-center justify-between p-6 bg-opacity-50"
  style="background-color: #d2e3c8;"
>
  <div class="font-bold text-xl ml-4">
    <a href="#" style="color: #4f6f52">LAHHGO</a>
  </div>
  <div class="flex flex-row items-center justify-center space-x-8 mr-4 ">
    <div class="space-x-4">
      <a href="#" class="">How it Works</a>
      <a href="#" class="">About Us</a>
      <a href="#" class="">Contact</a>
    </div>
    <a
      href="#"
      class="px-4 py-2 text-white rounded-xl font-semibold"
      style="background-color: #4f6f52"
      >Login</a
    >
  </div>
</nav>
